<h1>Welcome to FlatBank</h1>
<h3>Log In Please</h3>

<form action="login" method="POST">
  <p>
    <label for="username">Username: </label>
    <input type="text" name="user[name]">
  </p>
  <p>
    <label for="password">Password: </label>
    <input type="password" name="user[password]">
  </p>
  <input type="submit" value="Login">
</form>

<a href="/registrations/signup">Or Click Here To Sign Up</a>
