<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
  <p>
    <label for="name">Username: </label>
    <input id="name" type="text" name="user[username]">
  </p>
  <p>
    <label for="password">Password: </label>
    <input id="password" type="password" name="user[password]">
  </p>
  <p>
    <label for="balance">Starting Balance: </label>
    <input type="number" name="user[balance]">
  </p>
  <input type="submit" value="Sign Up">
</form>

