<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flatiron Bank</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
</head>
<body id="page-top">
  <%= yield %>
</body>
</html>
